.card-message{
  position: relative;
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  background-color: $pink;
  color:#fff;
  border-radius: 10px;
  min-width: 20%;
  max-width: 35%;
  margin-bottom: 8px;

  &__author{
    position: absolute;
    top: -18px;
    left: 10px;
    font-size: 12px;
    color: rgba(#fff, 0.5); 
    font-weight: 300  ;
    margin-bottom: 5px;
  }
}